<html>
<head>
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js" ></script>
	<script type="text/javascript" src="a01.js"></script>
</head>
<body ng-app="app">
	
	<div ng-controller="calc1" style="border: 1px solid blue;margin: 5px;padding:5px">
		<strong>Parent Controller</strong> <br>
		a = {{a}}<br>
		b = {{b}}<br>
		sum = {{ a + b }}
		<button ng-click="doCalc1Emit1()">Calc 1 - Emit 1</button>
		<button ng-click="doCalc1Broadcast1()">Calc 1 - Broadcast 1</button>
		<button ng-click="doCalc1BroadcastRoot()">Calc 1 - Root Broadcast</button>
		<div ng-controller="child1calc1" style="border: 1px solid green;margin:5px;padding:5px">
			<strong>Child Controller</strong><br>
			<button ng-click="doChild1Calc1Emit1()">Child 1 - Calc 1 - Emit 1</button>
			<button ng-click="doChild1Calc1Emit2()">Child 1 - Calc 1 - Emit 2 (with data)</button>
			<button ng-click="doChild1Calc1EmitRoot()">Child 1 - Calc 1 - Emit Root</button>
		</div>
	</div>
	
	<div ng-controller="calc2" style="border: 1px solid blue;margin:5px;padding:5px">
		<strong>Sibling</strong> <br>
		c = {{c}}<br>
		d = {{d}}<br>
		sum = {{ c + d }}
	</div>	
</body>
</html>