<html>
<head>
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js" ></script>
	<script type="text/javascript" src="a01.js"></script>
</head>
<body ng-app="app">
	<div id="div1" ng-controller="sample">		
		Sample: a = {{a}}, b = {{b}}<br>
		a = <input ng-model="a" /><br>
		Sample: p = {{o.p}}, q = {{o.q}}<br>
		p = <input ng-model="o.p" /><br>		
		<hr>
		<div id="div2" ng-controller="sample2"> <!-- child scope starts here -->
			Sample2: a = {{a}}, b = {{b}}<br>
			Sample2: c = {{c}}, d = {{d}}<br>
			a = <input ng-model="a" /><br><!--upon change it creates/modifies child scope 'a' (not parent scope 'a') -->
			Sample2: p = {{o.p}}, q = {{o.q}}<br>
			p = <input ng-model="o.p" /> <!--upon change it modifies 'o.p' everywhere) -->
			<hr>
		</div>
	</div>	
</body>
</html>